{% extends 'base.html.twig' %}

{% block title %}ACCUEIL {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background:rgb(165, 163, 163); padding: 2px 6px; }
</style>
{# pour afficher le message en js pour la creation de contenu  #}
        {% for message in app.flashes('notice') %} 
            <div class='alert alert-success'>
                {{ message }}
            </div>
        {% endfor %}
        

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! </h1>

    Ce cours est presenté par les deux Pirate connu dans le monde entier :
    
        <div class="bg-primary">   Arnaud</div>
        <div class="bg-danger">   Amine</div>
        
        <table class="table table-striped-columns">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">TITLE</th>
                <th scope="col">CONTENT</th>
                </tr>
            </thead>
            <tbody>
            {% for data in datas %}
                <tr>
                <th scope="row"> {{data.id}}</th>
                <td> {{data.title}}</td>
                <td> {{data.content}}</td>
                <td>
                <a href="{{ path('app_edit_form', {'id': data.id}) }}" class= 'btn btn-warning'>Modifier</a>
                <a href="{{ path('app_delete_page', {'id': data.id}) }}" class= 'btn btn-danger' onclick="return confirm('Es-tu sûr de vouloir supprimer cet élément ?');">Supprimer</a>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            <a href="{{ path('app_create_form') }}" class= 'btn btn-success'>Ajouter un autre Arnaud</a>
</div>
{% endblock %}
